<form action="/links" method="post">
  <input type="text" id="title" name="title" value="title">
  <input type="text" id="url" name="url" value="url">
  <input type="submit" value="Add bookmark">
</form>
